<h1>all dem linkz</h1> <br>
<div class="link-wrap">

  <% @links.each do |link| %>
    <div class="vote-wrap">
      <div class="thumbs-up">
        <% if link.vote = [] %>
          <%= link_to '<i class="fa fa-thumbs-o-up"></i>'.html_safe, new_vote_path(vote: 'up', user_id: current_user, link_id: link) %>
        <% elsif link.vote_value(current_user) == 'up' %>
          <%= link_to '<i class="fa fa-thumbs-up"></i>'.html_safe, vote_path(link.voted?(current_user)), method: 'delete' %>
        <% end %>
      </div>

      <div class="score">
        <%= link.votes.count %>
      </div>

      <div class="thumbs-down">

      </div>
    </div>

    <div class="link">
      <p><a href="<%= link.url %>"><%= link.title %></a> Posted by: <%= link_to "#{link.user.first_name} #{link.user.last_name}", user_path(link.user) %></p> <br>
    </div>
  <% end %>

</div>
